################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/NoSQL/src/Pcf.Administration/Pcf.Administration.Core/obj/Debug/net8.0/Pcf.Administration.Core.AssemblyInfo.cs
/NoSQL/src/Pcf.Administration/Pcf.Administration.Core/obj/Debug/net8.0/Pcf.Administration.Core.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.Core/obj/Debug/net8.0/Pcf.Administration.Core.assets.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.Core/obj/Debug/net8.0/Pcf.Administration.Core.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.Administration/Pcf.Administration.Core/obj/Pcf.Administration.Core.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.Core/obj/project.assets.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.Core/obj/project.nuget.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/Pcf.Administration.DataAccess.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/project.assets.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/project.nuget.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Pcf.Administration.IntegrationTests
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/bin/Debug/net8.0/CoverletSourceRootsMapping_Pcf.Administration.IntegrationTests
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/Debug/net8.0/Pcf.Administration.IntegrationTests.AssemblyInfo.cs
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/Debug/net8.0/Pcf.Administration.IntegrationTests.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/Debug/net8.0/Pcf.Administration.IntegrationTests.assets.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/Debug/net8.0/Pcf.Administration.IntegrationTests.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/Debug/net8.0/Pcf.Administration.IntegrationTests.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/Pcf.Administration.IntegrationTests.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/project.assets.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.IntegrationTests/obj/project.nuget.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Core/obj/Debug/net8.0/Pcf.GivingToCustomer.Core.AssemblyInfo.cs
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Core/obj/Debug/net8.0/Pcf.GivingToCustomer.Core.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Core/obj/Debug/net8.0/Pcf.GivingToCustomer.Core.assets.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Core/obj/Debug/net8.0/Pcf.GivingToCustomer.Core.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Core/obj/Pcf.GivingToCustomer.Core.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Core/obj/project.assets.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Core/obj/project.nuget.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/Debug/net8.0/Pcf.GivingToCustomer.DataAccess.AssemblyInfo.cs
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/Debug/net8.0/Pcf.GivingToCustomer.DataAccess.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/Debug/net8.0/Pcf.GivingToCustomer.DataAccess.assets.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/Debug/net8.0/Pcf.GivingToCustomer.DataAccess.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/Debug/net8.0/Pcf.GivingToCustomer.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/Pcf.GivingToCustomer.DataAccess.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/project.assets.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.DataAccess/obj/project.nuget.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/Debug/net8.0/Pcf.GivingToCustomer.IntegrationTests.AssemblyInfo.cs
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/Debug/net8.0/Pcf.GivingToCustomer.IntegrationTests.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/Debug/net8.0/Pcf.GivingToCustomer.IntegrationTests.assets.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/Debug/net8.0/Pcf.GivingToCustomer.IntegrationTests.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/Debug/net8.0/Pcf.GivingToCustomer.IntegrationTests.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/Pcf.GivingToCustomer.IntegrationTests.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/project.assets.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/obj/project.nuget.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/Debug/net8.0/Pcf.GivingToCustomer.WebHost.AssemblyInfo.cs
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/Debug/net8.0/Pcf.GivingToCustomer.WebHost.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/Debug/net8.0/Pcf.GivingToCustomer.WebHost.assets.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/Debug/net8.0/Pcf.GivingToCustomer.WebHost.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/Debug/net8.0/Pcf.GivingToCustomer.WebHost.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/Pcf.GivingToCustomer.WebHost.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/project.assets.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.WebHost/obj/project.nuget.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Core/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Core.AssemblyInfo.cs
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Core/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Core.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Core/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Core.assets.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Core/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Core.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Core/obj/Pcf.ReceivingFromPartner.Core.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Core/obj/project.assets.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Core/obj/project.nuget.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/Debug/net8.0/Pcf.ReceivingFromPartner.DataAccess.AssemblyInfo.cs
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/Debug/net8.0/Pcf.ReceivingFromPartner.DataAccess.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/Debug/net8.0/Pcf.ReceivingFromPartner.DataAccess.assets.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/Debug/net8.0/Pcf.ReceivingFromPartner.DataAccess.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/Debug/net8.0/Pcf.ReceivingFromPartner.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/Pcf.ReceivingFromPartner.DataAccess.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/project.assets.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.DataAccess/obj/project.nuget.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Integration.AssemblyInfo.cs
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Integration.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Integration.assets.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Integration.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/Debug/net8.0/Pcf.ReceivingFromPartner.Integration.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/Pcf.ReceivingFromPartner.Integration.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/project.assets.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.Integration/obj/project.nuget.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/Debug/net8.0/Pcf.GivingToCustomer.Integration.AssemblyInfo.cs
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/Debug/net8.0/Pcf.GivingToCustomer.Integration.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/Debug/net8.0/Pcf.GivingToCustomer.Integration.assets.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/Debug/net8.0/Pcf.GivingToCustomer.Integration.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/Debug/net8.0/Pcf.GivingToCustomer.Integration.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/Pcf.GivingToCustomer.Integration.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/project.assets.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.Integration/obj/project.nuget.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Pcf.ReceivingFromPartner.UnitTests
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/Debug/net8.0/Pcf.Administration.WebHost.AssemblyInfo.cs
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/Debug/net8.0/Pcf.Administration.WebHost.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/Debug/net8.0/Pcf.Administration.WebHost.assets.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/Debug/net8.0/Pcf.Administration.WebHost.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/Debug/net8.0/Pcf.Administration.WebHost.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/Pcf.Administration.WebHost.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/project.assets.json
/NoSQL/src/Pcf.Administration/Pcf.Administration.WebHost/obj/project.nuget.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/Debug/net8.0/Pcf.ReceivingFromPartner.WebHost.AssemblyInfo.cs
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/Debug/net8.0/Pcf.ReceivingFromPartner.WebHost.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/Debug/net8.0/Pcf.ReceivingFromPartner.WebHost.assets.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/Debug/net8.0/Pcf.ReceivingFromPartner.WebHost.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/Debug/net8.0/Pcf.ReceivingFromPartner.WebHost.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/Pcf.ReceivingFromPartner.WebHost.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/project.assets.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.WebHost/obj/project.nuget.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/Debug/net8.0/Pcf.ReceivingFromPartner.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/.vs/Pcf/v17/.futdcache.v2
/NoSQL/src/.vs/Pcf/v17/.suo
/NoSQL/src/.vs/Pcf/v17/DocumentLayout.backup.json
/NoSQL/src/.vs/Pcf/v17/DocumentLayout.json
/NoSQL/src/.vs/Pcf/FileContentIndex/0781ca0c-0df5-43a9-868d-3ace03df37a8.vsidx
/NoSQL/src/.vs/Pcf/FileContentIndex/2ceda35f-a8d5-4398-b9a7-682bb5770178.vsidx
/NoSQL/src/.vs/Pcf/FileContentIndex/6eb3e40d-c3ba-47e2-a867-5435612ee79e.vsidx
/NoSQL/src/.vs/Pcf/FileContentIndex/ba8d3c59-9d70-4a24-bdae-9f9a49ea7616.vsidx
/NoSQL/src/.vs/Pcf/FileContentIndex/dbc60e49-5c6e-4e54-ad2a-510d656e3b0b.vsidx
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/Debug/net8.0/Pcf.ReceivingFromPartner.UnitTests.AssemblyInfo.cs
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/Debug/net8.0/Pcf.ReceivingFromPartner.UnitTests.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/Debug/net8.0/Pcf.ReceivingFromPartner.UnitTests.assets.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/Pcf.ReceivingFromPartner.UnitTests.csproj.nuget.dgspec.json
/NoSQL/src/Pcf.GivingToCustomer/Pcf.GivingToCustomer.IntegrationTests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Pcf.GivingToCustomer.IntegrationTests
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_Pcf.ReceivingFromPartner.UnitTests
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/Debug/net8.0/Pcf.ReceivingFromPartner.UnitTests.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/project.assets.json
/NoSQL/src/Pcf.ReceivingFromPartner/Pcf.ReceivingFromPartner.UnitTests/obj/project.nuget.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/Debug/net8.0/Pcf.Administration.DataAccess.AssemblyInfo.cs
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/Debug/net8.0/Pcf.Administration.DataAccess.AssemblyInfoInputs.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/Debug/net8.0/Pcf.Administration.DataAccess.assets.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/Debug/net8.0/Pcf.Administration.DataAccess.csproj.AssemblyReference.cache
/NoSQL/src/Pcf.Administration/Pcf.Administration.DataAccess/obj/Debug/net8.0/Pcf.Administration.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/NoSQL/src/.vs/Pcf/config/applicationhost.config
/NoSQL/src/.vs/Pcf/DesignTimeBuild/.dtbcache.v2
/NoSQL/src/.vs/ProjectEvaluation/pcf.metadata.v9.bin
/NoSQL/src/.vs/ProjectEvaluation/pcf.projects.v9.bin
/NoSQL/src/.vs/ProjectEvaluation/pcf.strings.v9.bin
